html,
body {
    background: #EFF3F4;
    font-family: 'Open Sans', serif;
}

.hero-body .container {
    max-width: 700px;
}

.hero-body .title {
    color: #555;
}

.hero-body .subtitle {
    color: #555;
    padding-top: 2rem;
    line-height: 1.5;
}

.box.cta {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.is-shady {
    animation: flyintoright .4s backwards;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
    border-radius: 4px;
    display: inline-block;
    margin: 10px;
    position: relative;
    transition: all .2s ease-in-out;
}

.is-shady:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}
